<div class="row">
  <label class="col-md-3 no-margin no-padding">Name:</label>
  <div class="col-md-9 no-padding">
    <div class="input-prepend" ng-class="{'input-prepend-active': focused0}">
      <i class="fa input-icon fa-th"></i>
      <input class="input-text" type="text" ng-model="modalform.name" placeholder="Name" required ng-init="focused0 = false" ng-focus="focused0 = true" ng-blur="focused0 = false"/>
    </div>
  </div>
</div>

<div class="row">
  <label class="col-md-3 no-margin no-padding">Duration (days):</label>
  <div class="col-md-9 no-padding">
    <div class="input-prepend" ng-class="{'input-prepend-active': focused1}">
      <i class="fa input-icon fa-clock-o"></i>
      <input class="input-text" type="number" ng-model="modalform.duration" placeholder="Duration (days)" required ng-init="focused1 = false" ng-focus="focused1 = true" ng-blur="focused1 = false" />
    </div>
  </div>
</div>

<div class="row">
  <label class="col-md-3 no-margin no-padding">Storage (Go):</label>
  <div class="col-md-9 no-padding">
    <div class="input-prepend" ng-class="{'input-prepend-active': focused2}">
      <i class="fa input-icon fa-cloud"></i>
      <input class="input-text" type="number" ng-model="modalform.storage" placeholder="Storage (Go)" required ng-init="focused2 = false" ng-focus="focused2 = true" ng-blur="focused2 = false" />
    </div>
  </div>
</div>

<div class="row">
  <label class="col-md-3 no-margin no-padding">Shared Quota (Go):</label>
  <div class="col-md-9 no-padding">
    <div class="input-prepend" ng-class="{'input-prepend-active': focused3}">
      <i class="fa input-icon fa-users"></i>
      <input class="input-text" type="number" ng-model="modalform.sharedQuota" placeholder="Shared Quota (Go)" required ng-init="focused3 = false" ng-focus="focused3 = true" ng-blur="focused3 = false" />
    </div>
  </div>
</div>

<div class="row">
  <label class="col-md-3 no-margin no-padding">Bandwidth (Mbps):</label>
  <div class="col-md-9 no-padding">
    <div class="input-prepend" ng-class="{'input-prepend-active': focused4}">
      <i class="fa input-icon fa-arrow-down"></i>
      <select ng-model="modalform.bandwidth" ng-options="'Upload ' + b.upload + 'Mbps/Download ' + b.download + 'Mbps' for b in modalOpts.bandwidths" ng-init="focused4 = false" ng-focus="focused4 = true" ng-blur="focused4 = false" required>
        <option class="option-default" value="">Choose Bandwidth</option>
      </select>
    </div>
  </div>
</div>

<div class="row" ng-show="!modalform.isNotRemovable">
  <label class="col-md-3 no-margin no-padding">Price (€):</label>
  <div class="col-md-9 no-padding">
    <div class="input-prepend" ng-class="{'input-prepend-active': focused5}">
      <i class="fa input-icon fa-eur"></i>
      <input class="input-text" type="number" step="any" ng-model="modalform.price" placeholder="Price (€)" required ng-init="focused5 = false" ng-focus="focused5 = true" ng-blur="focused5 = false" />
    </div>
  </div>
</div>