<div class="container container-fill no-padding no-margin">
  <div class="row row-fill primary">

    <div class="col-md-10 col-md-offset-1" user-explorer>

      <div class="space-top-medium" ng-include src="'/src/users/usersActionBar.tpl.html'"></div>

      <div class="row grid-view-table-container">

        <table class="col-md-12">
          <thead>
          <tr>
            <th>Email</th>
            <th>Registered</th>
            <th>Plan</th>
            <th>Verified</th>
            <th>Allowed</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in users track by $index" ng-class="{true:'itemActive',false:''}[itemActive._id == user._id]" ng-click="toggleItem(user);">
            <td>
              <span class="no-underline" ng-bind="user.email"></span>
            </td>
            <td ng-bind="user.registrationDate | date"></td>
            <td ng-bind="user.currentPlan.plan.name"></td>
            <td ng-if="user.verified" ng-bind="user.verified"></td>
            <td ng-if="!user.verified">false</td>
            <td ng-bind="user.isAllowed"></td>
          </tr>
          </tbody>
        </table>

        <ul class="pagination" ng-show="users.length > 0 && usersSaved.length === 0">
          <li ng-class="{disabled: start === 0}">
            <a href ng-click="prevPage()">« Prev</a>
          </li>

          <li ng-repeat="n in getPaginationNbs(page)" ng-class="{active: n == page}" ng-click="setPage(n)">
            <a href ng-bind="n">1</a>
          </li>

          <li ng-class="{disabled: !hasMore}">
            <a href ng-click="nextPage()">Next »</a>
          </li>
        </ul>

        <p class="col-md-12" id="grid-view-msg" ng-show="users.length === 0">
          There isn't any <span class="highlight">user</span> yet.
        </p>

      </div>

    </div>

    <modal modal-opts="modalOpts" modalform="modalform" modal-color="'primary'"></modal>

  </div>
</div>